@use "../base/mixins" as *;
@use "../base/variables" as *;

.container{
    max-width: 1200px;
    margin-inline: auto;
    padding: 20px;

    @include breakpoint($tablet){
        padding: 30px;
    }
}
