@use "../base/mixins" as *;
@use "../base/variables" as *;

.container{
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 20px;

    @include breakpoint($tablet){
        padding: 0 30px;
    }
}
