@use "/src/styles/base/variables" as *;
@use "/src/styles/base/mixins" as *;

.form_grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    @include breakpoint($mobile) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.form_wrapper{
    @include breakpoint($mobile) {
        grid-column: 2;
    }
}

.form{
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.input{
    border: 0;
    width: 100%;
    height: 60px;
    color: #FFF;
    padding: 0 10px;
    font-size: 1.6em;
    border-radius: 6px;
    box-sizing: border-box;
    background-color: #2F4F4F;
    border: 2px solid transparent;
    

    &::placeholder{
        color: #FFF;
    }

    &:focus{
        outline: 0;
        border-color: $primary;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover, 
    &:-webkit-autofill:focus {
        border-color: #2F4F4F;
        -webkit-text-fill-color: #FFF;
        -webkit-box-shadow: 0 0 0px 40rem #2F4F4F inset;
    }

    &:-webkit-autofill:focus {
        border-color: $primary;
    }    
}

.submit_btn{
    border: 0;
    width: 100%;
    height: 50px;
    cursor: pointer;
    font-size: 1.6em;
    margin-top: 10px;
    border-radius: 6px;
    color: $secondary-on;
    background: #38ADA8;
    text-transform: uppercase;
    position: relative;
    background-image: linear-gradient(90deg, rgba(56, 173, 168, 1) 0%, rgba(109, 56, 173, 1) 100%);
    z-index: 1;       

    &::before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        content: "";
        z-index: -1;
        border-radius: 6px;
        position: absolute;
        transition: opacity 0.3s linear;
        background-image: linear-gradient(260deg,rgba(56, 173, 168, 1) 0%, rgba(109, 56, 173, 1) 100%);
    }

    &:hover::before{
        opacity: 1;
    }
}
