.modal__container{
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0,0,0,0.8);
}

.modal{
    top: 50%;
    left: 50%;
    padding: 30px;
    background: #FFF;
    position: absolute;
    transform: translate(-50%, -50%);
}

.input__modal{
    height: 40px;
}
