// Branding
$primary: #38ada8;
$primary-on: #000000; // *-on (text/icon colour for the variable value)
$primary-dark: #2c8683;
$primary-light: #51c7c2;

$secondary: #6d38ad;
$secondary-on: #f1ebf9;
$secondary-dark: #552c86;
$secondary-light: #8651c7;

// Backgrounds & Borders
$background: #eff1f1;
$foreground: #fbfbfb;
$border: #dde2e1;

// Copy
$primary-copy: #232929;
$primary-copy-light: #5e6e6d;
$primary-copy-lighter: #849594;

// States
$success: #38ad38;
$success-on: #ebf9eb;
$warning: #adad38;
$warning-on: #000000;
$error: #ad3838;
$error-on: #f9ebeb;
